html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #fbeeba;
  height: calc(var(--vh) * 100);
  width: calc(var(--vw) * 100);
}

:root {
  --bg-evening: url('/my-game/images/evening.PNG');
  --bg-morning: url('/my-game/images/morning.PNG');
  --bg-bg: url('/my-game/images/bg.jpg');
}

#root {
  height: 100%;
  width: 100%;
}

#game-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: var(--bg-bg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.game-canvas {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fbeebab3;
}

#game-container.wide .game-canvas {
  height: calc(var(--vh) * 100) !important;
  width: calc(var(--vh) * 100 * (750 / 1334)) !important;
}

#game-container.long .game-canvas {
  width: calc(var(--vw) * 100) !important;
  height: calc(var(--vw) * 100 * (1334 / 750)) !important;
}

.pixi-canvas {
  width: 100% !important;
  height: 100% !important;
  /* background-color: rgba(0, 255, 145, 0.2); */
}

.debug-bar {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  opacity: 0.1;
  z-index: 1;
}
